table {
    width: 100%;
  }
  
  .card-margin{
    margin: 0px 2% 0px 2%;
  }
  
  mat-toolbar{
    background-color: white;
  }
  p{
    text-align: center;
  }
  
.menu-bar {
    position: absolute;
    right: 60px;
  }