<mat-card>
    <div class="row">
        <div class="col-lg-5">
            <img class="d-block w-100"
                src="../../../../assets//hu.jpg">
        </div>
        <div class="col-lg-7 text-center">
            <h2>
                <strong>University Name</strong>
            </h2>
            <h4>
                <span class="green-text">
                    <strong>telangana</strong>
                </span>
            </h4>
        </div>
        <div>
            
        </div>
    </div>
</mat-card>