<div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
            <mat-action-row>
                <button mat-button color="warn" (click)="openDialog()">Edit</button>
                <button mat-button color="primary">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>