mat-card{
    margin: 5% 5% 0px 5%;
}

.changeColor{
    color: rgb(92, 100, 107);
    h2{
        font-family: 'Courier New', Courier, monospace;
    }
    h4{
        font-family: 'Courier New', Courier, monospace;
    }
}

mat-panel-title{
    color: rgb(255, 166, 0);
}

.card1{
    margin: 5% 5% 0px 5%;
}

@import '~bootstrap/dist/css/bootstrap.min.css';